.home{
    min-height: 100vh;
    background:linear-gradient(rgb(73, 212, 157),rgb(73, 212, 157));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    overflow:hidden;
    position: relative;
    }

.home .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-top: 14rem;
    padding-bottom: 8rem;
    text-align: center;
    }

.home .content h1{
    font-size: 5rem;
    color: #fff;
    padding:0 1rem;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
    text-transform: uppercase;
    }

.home .content p{
    font-size: 2rem;
    color:#eee;
    padding:1rem 25rem;
    }



.home .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }

.home .box-container .box{
    height:10rem;
    width:20rem;
    background:#fff;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.5);
    margin: 2rem;
    cursor: pointer;
    }

.home .box-container .box i{
    height:6rem;
    width:6rem;
    line-height: 6rem;
    text-align: center;
    border-radius: 50%;
    color:#fff;
    background:var(--violet);
    font-size: 3rem;
    margin:2rem 0;
    transition: .2s;
    }

.home .box-container .box h3{
    font-size: 2rem;
    color:var(--pink);
    transition: .2s;
    }

.home .box-container .box h3 a{
    font-size: 2rem;
    color:var(--pink);
    transition: .2s;
    }



.home .box-container .box:hover i{
    background:var(--pink);
    }

.home .box-container .box:hover h3{
    color:var(--violet);
    }

.home .box-container .box:hover h3 a{
    color:var(--violet);
    }

.home::before{
    content: '';
    position: absolute;
    bottom:-25rem; left:50%;
    transform: translateX(-50%);
    border-top: 70vh solid #fff;
    width:120%;
    border-radius: 50%;
    z-index: -1;
    }