{% extends 'school/adminbase.html' %}

{% block content %}
<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .table-container {
      margin: 100px auto;
      max-width: 800px;
      overflow-x: auto;
    }
  </style>
</head>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h6 class="panel-title">Attendance of class {{ group.name }} on {{ date }}</h6>
        </div>
        <div class="table-container">
          <table class="table table-responsive table-hover table-striped table-bordered" id="dev-table">
            <thead>
              <tr>
                <th>Student Name</th>
                <th>Student Group</th>
                <th>Module</th>
                <th>Duration</th>
                <th>Present/Absent</th>
              </tr>
            </thead>
            <tbody>
              {% for attendance in attendance_data %}
              <tr>
                <td>{{ attendance.student.get_name }}</td>
                <td>{{ attendance.cl.name }} ({{ attendance.cl.level }})</td>
                <td>{{ attendance.activity.module.name }} ({{ attendance.activity.module.codeM }}) </td>
                <td>{{ attendance.activity.duration.name }} [{{ attendance.activity.duration.start_time }} - {{ attendance.activity.duration.end_time }}]</td>
                <td>{{ attendance.present_status }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}
