{% extends 'school/studentbase.html' %}
{% block content %}

<head>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
    
  </style>


</head>
<div class="container">
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h6 class="panel-title">{{ student.user.get_full_name }}'s Attendance of date {{date}}</h6>
      </div>
      <table class="table table-hover table-striped table-bordered" id="dev-table">
        <thead>
          <tr>
            <th>Student Group</th>
            <th>Module</th>
            <th>Duration</th>
            <th>Present/Absent</th>
          </tr>
        </thead>
        {% if mylist %}
          {% for activity, attendance in mylist %}
            <tr>
              <td>{{ student.cl }}</td>
              <td>{{ activity.module }}</td>
              <td>{{ attendance.get_duration }}</td>
              <td>{{ attendance.present_status }}</td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="4">No attendance found for the selected date</td>
          </tr>
        {% endif %}
      </table>
    </div>
  </div>
</div>




{% endblock content %}
