{% load static %} 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SITE WEB</title>

    
    

    <!-- custom css file link  -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <header>
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
        <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <a href="#" class="logo"><i class="fas fa-graduation-cap"></i> UNIVERSITY KASDI MARBAH</a>
        
        <nav class="navbar">
            <ul>
                <li><a href="" class="active"><i class="fa-solid fa-house"></i>home</a></li>
                <li><a href="#Sign up"><i class="fa-solid fa-user-plus"></i> Sign Up</a></li>
                <li><a href="#Login"><i class="fa-solid fa-right-to-bracket"></i> Login</a></li>
            </ul>
        </nav>
        
        
        
    </header>
</body>    